{% extends "base.html" %}
{% load static %}
<title>{% block title %}Blog{% endblock %}</title>

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Blog</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body fixed-card-body">
                            <div class="image-container">
                                {% if post.image %}
                                <img class="card-img-top" src="{{ post.image }}">
                                {% else %}
                                <img class="card-img-top" src="https://the-best-me.s3.eu-west-1.amazonaws.com/media/pexels-esranur-kalay-9586204.jpg">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author.first_name }}</p>
                                </div>
                            </div>
                            <a href="{% url 'blog_post' post.pk %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.blog_snippet }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.blog_post_date }} <i class="fas fa-heart"></i> {{ post.total_post_likes }} </p>
                            {% if request.user.is_superuser %}
                            <div class="mt-5">
                                <small>
                                    <a class="btn btn-outline btn-sm" href="{% url 'update_blog_post' post.pk %}">Edit</a>
                                    <a class="btn btn-outline btn-sm" href="{% url 'delete_blog_post' post.pk %}">Delete</a>
                                </small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="row-sm">
    <div class="col-12 col-lg-8 text-right">
        {% if request.user.is_superuser %}
        <a href="{% url 'add_blog_post' %}" class="btn btn-black rounded-0 my-4">
            <span class="text-uppercase">Add Blog Post</span>
        </a>
        {% endif %}
        <a href="{% url 'products' %}" class="btn btn-black rounded-0 my-4">
            <span class="text-uppercase">Back to Store</span>
        </a>
    </div>
</div>
{% endblock %}
