{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font"><a href="{% url 'blog' %}" class="text-dark">Back to Blogs</a></h2>
            <hr class="w-50 mb-1">
            <h2 class="logo-font">
                <i>{{ post.title }}</i>
            </h2>
            <small>By:
                {{ post.author.first_name }} -
                {{ post.blog_post_date }}
                {% if request.user.is_superuser %}
                <a href="{% url 'update_blog_post' post.pk %}">Edit</a>
                <a href="{% url 'delete_blog_post' post.pk %}">Delete</a></small>
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-6 p-4 bg-white rounded border border-dark">
    {{ post.body|safe }} <!-- to override django default of no html rendering -->
</div>
<hr>
</div>
<br>
<div class="container mt-6 p-4 bg-light rounded"><i class="far fa-heart"></i>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-dark btn-sm">
            Unlike
        </button>
        {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-dark btn-sm">
            Like
        </button>
        {% endif %}
        {% else %}
        <small><a href="{% url 'account_login' %}"> Login to like</a></small>
        {{ total_blog_likes }} - likes
        {% endif %}
    </form>
    <hr>
    <h2><strong>Comments</strong></h2>
    {% if not post.comments.all %}
    No Comments Yet...<a href="{% url 'add_blog_comment' post.pk %}">Be the First!</a>
    {% else %}
    <div class="row">
        <div class="col-4">
            <a href="{% url 'add_blog_comment' post.pk %}">Add Comment</a>
            {% for comment in post.comments.all %}
            <strong>
                {{ comment.name }} -
                {{ comment.comment_date }}
            </strong>
            {{ comment.body }}

            {% endfor %}

            {% endif %}
            <hr>
        </div>
    </div>
</div>
<div class="col-12 col-lg-7 text-right">
    <a href="{% url 'products' %}" class="btn btn-dark rounded-0 my-2">
        <span class="text-uppercase">Back to Store</span>
    </a>
    <a href="{% url 'blog' %}" class="btn btn-dark rounded-0 my-2">
        <span class="text-uppercase">Back to Blog</span>
    </a>
</div>
{% endblock %}