{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font"><a href="{% url 'blog' %}">Blog</a></h2>
                <hr class="w-50 mb-1">
                <h2 class="logo-font">
                    <i>{{ post.title }}</i>
                </h2>
                    <small>By:
                    {{ post.author.first_name }} -
                    {{ post.blog_post_date }}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'update_blog_post' post.pk %}">Edit</a>
                        </small>
                        <a class="btn btn-outline btn-sm" href="{% url 'delete_blog_post' post.pk %}">Delete</a></small>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="container mt-6 p-4 bg-white rounded border border-dark">
        {{ post.body|safe }} <!-- to override django default of no html rendering -->
    </div>
    <hr>
    <div class="like-container">
        <p class="num-of-likes">
            8
        </p>
        <form action="" method="POST">
            {% csrf_token %}
            {% if msg %}

            <i class="fa-solid fa-heart"></i> 
            
            {% else %}

            <i class="fa-regular fa-heart"></i>

            {% endif %}
            <small>like</small>
        </form>

    </div>
</div>
    <br>
    <div class="container mt-6 p-4 bg-light rounded">
        <hr>
        <h2><strong>Comments</strong></h2>
        {% if not post.comments.all %}
            No Comments Yet...<a href="{% url 'add_blog_comment' post.pk %}">Be the First!</a>
        {% else %}
        <a href="{% url 'add_blog_comment' post.pk %}">Add Comment</a>
        <br/><br/>
            {% for comment in post.comments.all %}
                <strong>
                    {{ comment.name }} -
                    {{ comment.comment_date }}
                </strong>
                <br/>
                {{ comment.body }}
                <br/><br/>
            {% endfor %}
        </br>
        
        {% endif %}
        <hr>
    </div>

{% endblock %}