{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font"><a href="{% url 'blog' %}">Blog</a></h2>
                <hr class="w-50 mb-1">
                <h2 class="logo-font">
                    <italic>{{ post.title }}</italic>
                </h2>
                    <small>By:
                    {{ post.author.first_name }} -
                    {{ post.blog_post_date }}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'update_blog_post' post.pk %}">Edit</a>
                        </small>
                        <a class="btn btn-outline btn-sm" href="{% url 'delete_blog_post' post.pk %}">Delete</a></small>
                    {% endif %}
            </div>
        </div>
    </div>
    <div>
        {{ post.body|safe }} <!-- to override django default of no html rendering -->>
    </div>

{% endblock %}