<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=yearly_journals_essentials,weekly_journals,weight_loss_journals,meditation_journals" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Journals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=yearly_journals_essentials" class="dropdown-item">Yearly Journals &amp; Essentials</a>
                <a href="{% url 'products' %}?category=weekly_journals" class="dropdown-item">Weekly Journals</a>
                <a href="{% url 'products' %}?category=weight_loss_journals" class="dropdown-item">Weight Loss Journals</a>
                <a href="{% url 'products' %}?category=meditation_journals" class="dropdown-item">Meditation Journals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=marketing_mrr,financial_freedom_independence,social_media" aria-haspopup="true" aria-expanded="false">
                Guides
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=marketing_mrr" class="dropdown-item">Marketing &amp; MRR</a>
                <a href="{% url 'products' %}?category=financial_freedom_independence" class="dropdown-item">Financial Freedom &amp; Independence</a>
                <a href="{% url 'products' %}?category=social_media" class="dropdown-item">Social Media</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'blog' %}" aria-haspopup="true" aria-expanded="false">
                Blog
            </a> 
        </li>
    </ul>
</div>